.deps
*.o
*.lo
*.pc
*.la
Makefile
.libs
config.h
config.log
config.status
libtests
tools/dirstamp
libpng-config
libpng.vers
libpng16-config
libtool
png-fix-itxt
pngfix
pngimage
pnglibconf.c
pnglibconf.h
pnglibconf.out
pngprefix.h
pngstest
pngtest
pngunknown
pngvalid
scripts/vers.out
stamp-h1
contrib/tools/.dirstamp
tests/
include
lib
pngout.png
scripts/
share/
test-suite.lo
